<link rel="stylesheet" href="~/css/rightleftpanel.css" />
<script src="~/js/panels.js"></script>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a href="/feed"><h5 class="card-title"><i class="fa-solid fa-house"></i> Main Page</h5></a>
        <li><hr class="dropdown-divider"></li>
        <a class="dropdown-toggle notifications" href="#">
            <p class="card-text">
                <i class="fa-regular fa-bell notifications-icon"></i> Notifications<span class="badge text-bg-secondary notifications-badge" id="notificationcounter">10</span>
            </p>
        </a>
        <a href="/messages"><p class="card-text"><i class="fa-solid fa-inbox"></i> Messages</p></a>
    </div>
</div>