<link rel="stylesheet" href="~/css/rightleftpanel.css" />
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <a href="/feed"><h5 class="card-title"><i class="fa-solid fa-house"></i> Main Page</h5></a>
        <li><hr class="dropdown-divider"></li>
        <p class="card-text"><i class="fa-regular fa-bell"></i> Notifications</p>
        <a href="/messages"><p class="card-text"><i class="fa-solid fa-inbox"></i> Messages</p></a>
        <p class="card-text">etc...</p>
    </div>
</div>