<link rel="stylesheet" href="~/css/rightpanel.css" type="text/css" />


<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-at"></i> You might know these people</h5>
        <li><hr class="dropdown-divider"></li>
        <ul class="list-unstyled user-list">
            <li>                
                <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 1"> <i class="fa-solid fa-at"></i> User 1</p>
            </li>
            <li>               
                <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 2"> <i class="fa-solid fa-at"></i> User 2</p>
            </li>
            <li>                
                <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 3"> <i class="fa-solid fa-at"></i> User 3</p>
            </li>
            <li>               
                <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 3"> <i class="fa-solid fa-at"></i> User 4</p>
            </li>
            <!-- Add more users as needed -->
        </ul>
    </div>
</div>
