<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title"><i class="fa-solid fa-at"></i> You might know these people</h5>
        <li><hr class="dropdown-divider"></li>
        <p class="card-text"><i class="fa-solid fa-at"></i> users...</p>
    </div>
</div>
