<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b788c8dd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/feedpage.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    @{
        Html.RenderPartial("Navbar");
    }

    <div class="container">
        <div class="left-section">
            <!-- Tartalom a bal oldalon -->
        </div>
        <div class="separator"></div>
        <div class="middle-section">
            <!-- Tartalom középső oldalon -->
        </div>
    </div>
</body>
</html>