<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5b788c8dd4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/feedpage.css">
    <link rel="stylesheet" href="~/css/profile.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    @{
        Html.RenderPartial("Navbar");
    }

    <div class="container">
        <div class="left-section">
            <!-- Tartalom a bal oldalon -->
            @{
                Html.RenderPartial("LeftPanel");
            }
        </div>
        <div class="separator"></div>
        <div class="middle-section">

            <div class="profile-card text-center">   
                
                <img src="https://cdn.delmagyar.hu/2024/01/cUwxqgSHlvEZUxThu_8NLTk_rA0g6At2B1gjIY5XS18/fill/700/394/no/1/aHR0cHM6Ly9jbXNjZG4uYXBwLmNvbnRlbnQucHJpdmF0ZS9jb250ZW50LzVhNGM5M2M3MTdlNzQ0OGRiYWVmNTk2N2ZiNDllNTY3.jpg" class="banner" />


                <div class="card-body profiledata">
                    <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="Profilkép" class="rounded-circle img-fluid mb-3 profile-picture">
                    <h1 class="card-title name">Név</h1>
                    <p class="card-text username">felhasználónév</p>
                    <p class="card-text bio">Ez egy rövid bemutatkozás. Írj ide valami érdekeset magadról.</p>
                    <div class="d-flex justify-content-around stats">
                        <div>
                            <span class="number">123</span>
                            <span class="label">Követők</span>
                        </div>
                        <div>
                            <span class="number">456</span>
                            <span class="label">Követések</span>
                        </div>
                    </div>

                    <div class="profile-divider"></div> <!-- Vízszintes elválasztó -->
                    <div class="btn-group" role="group" aria-label="Basic outlined example">
                        <div class="profile-buttons">
                            <button type="button" class="btn btn-outline-primary active profile-button">Posts</button>
                            <button type="button" class="btn btn-outline-primary profile-button">Liked</button>
                            <button type="button" class="btn btn-outline-primary profile-button">Tagged</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator"></div>
        <div class="right-section">
            <!-- Tartalom a jobb oldalon -->
            @{
                Html.RenderPartial("RightPanel");
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
