.input-group {
    width: 200px;
    position: relative;
}

.dropdown-menu {
    display: none;
    width: 100% !important;
}

.input-group:focus-within .dropdown-menu {
    display: block;
}

.input-group .btn {
    position: absolute;
    width: 40px;
}

.navbar {
    background-color: #D4E7C5;
    border-radius: 0px 0px 10px 10px !important;
    margin-bottom: 0 !important;
}

li, ul {
    list-style: none;
}

a {
    color: forestgreen !important;
    text-decoration: none !important;
}

a:hover {
    color: darkgreen;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100%;
    align-items: stretch;
}

.left-section, .middle-section, .right-section {
    flex: auto;
    height: 100%;
}

.separator {
    width: 1px;
    background-color: #D4E7C5;
    height: 100%;
    margin: 0; /* Eltolás a két oldalon */
}

.card {
    border-radius: 10px !important;
    background-color: #D4E7C5;
    outline-color: darkgreen;
    margin-top: 30px;
    margin-left: 10% !important;
}

.post {
    width : 40rem !important;
}

.post-img {
    width: 100% !important;
}

.postreaction {
    width: 15% !important;
    font-size: 160%; 
}

.liked {
    color: darkred;
}

img {
    border-radius: 10px !important;
}


