body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: stretch !important; /* Biztosítja, hogy a szekciók teljes magasságban nyúljanak */
    min-height: 100vh; /* Minimum 100% viewport magasság */
}

.left-section, .right-section {
    flex: 1; /* 1 arányú növekedés */
    max-width: 25%; /* Maximum 25% szélesség */
    min-width: 25%; /* Minimum 25% szélesség */
    height: 100%; /* Biztosítja, hogy a szekciók teljes magasságot kitöltsék */
}

.middle-section {
    flex: 1; /* 1 arányú növekedés */
    max-width: 50%; /* Maximum 50% szélesség */
    min-width: 50%; /* Minimum 50% szélesség */
    border-right: 1px solid #D4E7C5;
    border-left: 1px solid #D4E7C5;
    box-sizing: border-box !important; /* Biztosítja, hogy a borderek beleszámítanak a méretbe */
    min-height: 100vh; /* Minimum 100% viewport magasság */
}

.card {
    border-radius: 10px !important;
    background-color: #D4E7C5;
    outline-color: darkgreen;
    margin: 30px auto !important;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.post-username {

}

.post {
    width: 50rem !important;
    margin: auto;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

    .post-img {
        width: 100% !important;
        border-radius: 10px !important;
    }

.user-post {
    border-radius: 80px;
    width: 40px !important;
    height: 40px;
    object-fit: cover;
    display: inline !important;
}

.post-username {
    vertical-align: central;
    display: inline !important;
}

.postreaction {
    width: 15% !important;
    font-size: 160%;
    position: relative;
}

.liked {
    color: darkred;
}

.post-window {
    border-radius: 0px 0px 10px 10px;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #D4E7C5;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

    .post-window .post-header {
        font-size: 24px;
        text-align: center;
        margin-bottom: 20px;
    }

    .post-window .form-group {
        margin-bottom: 20px;
    }

    .post-window .form-control {
        border-radius: 10px;
    }

    .post-window .btn-primary {
        border-radius: 10px;
        width: 15%;
    }

.profile-divider {
    width: 80%; /* Állítsd be a kívánt szélességet */
    height: 1px;
    background-color: #D4E7C5;
    margin: 20px auto; /* Középre igazítás */
}

.feed-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #99BC85 !important;
    font-weight: bold !important;
    font-size: 130% !important;
    border-radius: 10px !important;
}

    .feed-button:hover {
        background-color: #D4E7C5 !important;
        border-color: #BFD8AF !important;
    }

.btn-outline-primary:focus {
    outline: none !important;
}

.autosize-textarea {
    resize: none;
    padding-right: 40px !important;
    width: 50rem;
    margin: auto;
    border: 1px solid #D4E7C5;
}

.textarea-container {
    position: relative;
    width: 100%;
}

.character-counter {
    position: absolute;
    bottom: 2px;
    right: 30px; /* Balra toltuk a karakter számlálót */
    color: #000;
}

.exceeded {
    color: red;
}

.posted-time {
    position: absolute;
    right: 1px;
    top: 1px;
    margin-top: 15px;
    margin-right: 15px;
}

#feed-posts-container {
    padding-bottom: 10px !important;
}

.like-counter {
    position: absolute;
    margin-left: -20px;
}