body {
    text-shadow: 1px 1px #ededed;
}

span {
    text-shadow: none;
}

.searchbar {
    border-radius: 10px 0px 0px 10px !important;
}

.input-group {
    width: 200px;
    position: relative;
}

.dropdown-menu {
    display: none;
    width: 100% !important;
}

.input-group:focus-within .dropdown-menu {
    display: block;
}

.input-group .btn {
    position: absolute;
    width: 40px;
}

.navbar {
    background-color: #D4E7C5;
    border-radius: 0px 0px 10px 10px !important;
    margin-bottom: 0 !important;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

li, ul {
    list-style: none;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: forestgreen !important;
    text-decoration: none !important;
}


    a:hover {
        color: darkgreen !important;
    }

/* Eltünteti a nyilat a dropdown-toggle osztályból */
.dropdown-toggle.no-decoration::after {
    display: none !important;
}

.search-button {
    border: 1px solid lightgray; /* Állítsd be a border színét */
    background-color: #E1F0DA;
    align-items: center;
    justify-content: center;
    margin-right: 0;
    border-radius: 0px 10px 10px 0px !important;
}

.navbar input[type="text"].form-control {
    resize: none;
    width: auto; /* vagy a kívánt szélesség */
    padding: 10px;
    margin-top: 0; /* vagy a kívánt margin érték */
    margin-bottom: 0; /* vagy a kívánt margin érték */
    border: 1px solid lightgray; /* alapértelmezetten a Bootstrap .form-control osztály már definiálja a keretet */
    border-radius: 0; /* vagy a kívánt border-radius */
}

    .navbar input[type="text"].form-control:focus {
        outline: none;
        border-color: transparent; /* vagy a kívánt focus border színe */
    }

.dropdown-divider {
    color: #99BC85 !important;
}

.dropdown-profile {
    padding: 10px; /* Padding a menü belső tartalmához */
    border-color: #99BC85;
}

    .dropdown-profile .dropdown-item {
        padding: 10px; /* Minden oldalról egyenlő távolság */
        white-space: normal; /* Megengedi a szöveg tördelését */
        word-wrap: break-word; /* Szükség esetén töri a szöveget */
    }

.dropdown-search {
    width: 230px !important;
    padding: 10px; /* Padding a menü belső tartalmához */
    border-color: #99BC85;
}

    .dropdown-search .dropdown-item {
        padding: 10px; /* Minden oldalról egyenlő távolság */
        white-space: nowrap; /* Megakadályozza a szöveg tördelését */
        overflow: hidden; /* Elrejti a túlcsorduló tartalmat */
        text-overflow: ellipsis; /* Három pontot jelenít meg a túlcsorduló szöveg végén */
        max-width: 220px; /* Maximális szélesség beállítása */
        display: block; /* Blokk szintű elem */
    }