body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
}

.profile-card {
    background-color: #fff;
    border-bottom: 1px solid #D4E7C5;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    margin: auto;
    max-width: 600px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.banner {
    width: 100%;
    max-width: 100%;
    height: 15vh; /* Teljes magasság kitöltése */
    object-fit: cover;
}

.profiledata {
    padding: 20px;
}

.profile-picture {
    width: 110px;
    height: 110px;
    object-fit: scale-down;
    z-index: 5;
    margin-top: -70px;
    position: relative;
    border: 3px solid white;
}

.name {
    font-size: 2.5rem; /* Eredeti méret megtartva */
    margin: auto;
}

.pronouns {
    font-size: 1rem; /* Eredeti méret megtartva */
    color: #fff;
    background-color: #BFD8AF;
}

.username {
    font-size: 1.7rem; /* Eredeti méret megtartva */
    color: #6c757d;
    margin-bottom: 15px;
}

.bio {
    font-size: 1.5rem; /* Eredeti méret megtartva */
    margin-bottom: 20px;
}

.stats {
    margin-bottom: 20px;
}

    .stats .number {
        font-size: 2rem; /* Eredeti méret megtartva */
        font-weight: bold;
    }

    .stats .label {
        font-size: 1.2rem; /* Eredeti méret megtartva */
        color: #6c757d;
    }

.profile-divider {
    width: 80%; /* Teljes szélesség kitöltése */
    height: 1px;
    background-color: #D4E7C5;
    margin: 20px auto; /* Középre igazítás */
}

.plusbutton {
    margin-left: -4px;
}

.tickbutton {
    margin-left: -3.5px;
}

.follow-button {
    position: relative;
    z-index: 9999;
    margin-left: -40px;
    border-radius: 80px !important;
    background-color: #BFD8AF !important;
    border: none;
    cursor: pointer;
    color: #fff !important;
    width: 3.1rem;
    height: 3.1rem;
    border: 1px solid #BFD8AF !important;
    outline: none !important;
    box-shadow: none !important;
}

.followed-button {
    position: relative;
    z-index: 9999;
    margin-left: -40px;
    border-radius: 80px !important;
    background-color: #fff !important;
    border: none;
    cursor: pointer;
    color: #D4E7C5 !important;
    width: 3rem;
    height: 3rem;
    border: 1px solid #D4E7C5;
    outline: none !important;
    box-shadow: none !important;
}

.followed-button:focus {
    position: relative;
    z-index: 9999;
    margin-left: -40px;
    border-radius: 80px !important;
    background-color: #fff !important;
    border: none;
    cursor: pointer;
    color: #D4E7C5 !important;
    width: 3rem;
    height: 3rem;
    border: 1px solid #D4E7C5;
}

.followed-button:hover {
    border: 1px solid #99BC85 !important;
    color: #99BC85 !important;
}

.follow-button:hover {
    border: 1px solid #fff !important;
}


.profile-card-button {
    border-radius: 10px !important;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #99BC85 !important;
    font-weight: bold !important;
}

    .profile-card-button:hover {
        background-color: #D4E7C5 !important;
        border-color: #BFD8AF !important;
        color: #fff !important;
    }

    .profile-card-button:active {
       border: 0 !important;
    }

.active {
    background-color: #D4E7C5 !important;
    border-color: #BFD8AF !important;
    color: #fff !important;
}

.profile-buttons .profile-button {
    flex: 1;
    color: #99BC85;
}

.settings {
    position: relative;
    cursor: pointer;
    z-index: 9999;
    float: right;
    padding-top: 2px;
    padding-right: 6px;
    color: #99BC85;
}

    .settings:hover {
        color: #D4E7C5;
    }

.modal {
    margin: auto;
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding-top: 60px;
}

.follow-modal {
    margin: auto;
    display: none;
    position: fixed;
    z-index: 999999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    border-radius: 10px;
    padding-top: 60px;
}

.follow-modal-content {
    background-color: #fefefe;
    margin: 30rem auto;
    padding: 20px;
    border: 2px solid #99BC85;
    border-radius: 10px;
    width: 10vw;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 2px solid #99BC85;
    border-radius: 10px;
    width: 40vw;
}

.close {
    color: #99BC85;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #99BC85;
        text-decoration: none;
        cursor: pointer;
    }

.modal-label {
    color: #99BC85;
    display: block;
    margin-top: 10px;
}

input[type="text"],
textarea,
select {
    resize: none;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #D4E7C5;
    border-radius: 10px;
}

    input[type="text"]:focus,
    textarea:focus,
    select:focus,
    input[type="date"]:focus,
    input[type="file"]:focus,
    label.modal-label:focus {
        outline: none;
    }

    .modal-label:focus,
    input[type="text"]:focus,
    textarea:focus,
    select:focus,
    input[type="date"]:focus,
    input[type="file"]:focus,
    label.modal-label:focus {
        border: 1px solid #99BC85; 
    }

.modal-button {
    background-color: #99BC85;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

    .modal-button:hover {
        background-color: #D4E7C5;
    }

.modal-button-close {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightgrey;
}

    .modal-button-close:hover {
        background-color: darkgrey;
    }

input[type="date"] {
    border: 1px solid #D4E7C5 !important;
    border-radius: 6px !important;
    width: 16rem;
}