.user-list img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.user-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .user-list li img {
        border-radius: 40px;
        margin-right: 10px;
    }

li, ul {
    list-style: none;
}

a {
    color: forestgreen !important;
    text-decoration: none !important;
}


    a:hover {
        color: darkgreen !important;
    }


