<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="~/js/feedpage.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/5b788c8dd4.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    @{
        Html.RenderPartial("Navbar");
    }
    <div class="container">
        <div class="left-section">
            <!-- Tartalom a bal oldalon -->
            @{
                Html.RenderPartial("LeftPanel");
            }
        </div>
        <div class="separator"></div>
        <div class="middle-section">

            <div class="post-window">
                <div class="textarea-container">
                    <textarea class="form-control autosize-textarea" id="post-area" placeholder="Mit szeretnél megosztani?" maxlength="256"></textarea>
                    <div class="character-counter">0</div> <!-- Karakter számláló -->
                </div>

                <div class="profile-divider"></div>
                    <div class="text-center">
                        <label for="postImage" type="button" class="btn btn-outline-primary feed-button"><i class="fas fa-image"></i></label>
                        <input type="file" class="form-control-file" id="postImage" style="display: none;">

                        <label for="postFile" type="button" class="btn btn-outline-primary feed-button"><i class="fas fa-file"></i></label>
                        <input type="file" class="form-control-file" id="postFile" style="display: none;">

                        <button type="button" class="btn btn-outline-primary feed-button" onclick="sendPostRequest('@ViewBag.SessionID');">Post</button>
                    </div>
            </div>


            <div id="feed-posts-container">


            </div>

            <script>

                function unescapeHtml(escapedString) {
                    var tempDiv = document.createElement('div');
                    tempDiv.innerHTML = escapedString;
                    return tempDiv.textContent || tempDiv.innerText || "";
                }

                var posts = "@ViewBag.Feed";

                var unescapedPosts = unescapeHtml(posts);

                document.getElementById('feed-posts-container').innerHTML = unescapedPosts;

                function displayPostedTime() {
                    const allElements = document.querySelectorAll('.posted-time');


                    allElements.forEach(cardHeader => {

                        var postDate = new Date(cardHeader.textContent); // Ez lenne a tényleges posztolás dátuma, ide a megfelelő értéket kell behelyettesíteni

                        // Számítás az eltelt idő alapján
                        var currentTime = new Date();
                        var elapsed = currentTime - postDate; // Mennyi idő telt el (ms-ban)

                        // Idő formázása
                        if (elapsed < 60 * 1000) { // Kevesebb, mint 1 perc
                            cardHeader.textContent = 'now';
                        } else if (elapsed < 60 * 60 * 1000) { // Kevesebb, mint 1 óra
                            var minutes = Math.floor(elapsed / (60 * 1000));
                            cardHeader.textContent = minutes + 'm';
                        } else if (elapsed < 24 * 60 * 60 * 1000) { // Kevesebb, mint 1 nap
                            var hours = Math.floor(elapsed / (60 * 60 * 1000));
                            cardHeader.textContent = hours + 'h';
                        } else { // Több, mint 1 nap
                            var days = Math.floor(elapsed / (24 * 60 * 60 * 1000));
                            cardHeader.textContent = days + 'd';
                        }
                    });
                }

                displayPostedTime();

            </script>

             <div class="card post">
                <div class="card-header text-center">
                    <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 1" class="user-post"> <i class="fa-solid fa-at"></i> User </p>
                    <div class="posted-time">1h</div>
                </div>
                <div class="card-body">
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary text-center">
                    <i class="fa-regular fa-heart postreaction" id="hjhchm" onclick="like('hjhchm');"></i><span class="like-counter" id="like-counter">0</span>
                    <i class="fa-solid fa-comment postreaction"></i>
                    <i class="fa-solid fa-share postreaction"></i>
                </div>
            </div>

            <!--
            <div class="card post">
                <div class="card-header text-center">
                    <p class="card-text"> <img src="https://cdn.reigdev.hu/evoweb/img/generic-avatar.jpg" alt="User 1" class="user-post"> <i class="fa-solid fa-at"></i> User </p>
                </div>
                <div class="card-body">
                    <img src="https://download.cdn-shop.com/media/web_images/uk/my-picture/structured-data/framed-picture-4x3.jpg" class="post-img"/>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer text-body-secondary text-center">
                    <i class="fa-regular fa-heart postreaction" id="dgssdg" onclick="like('dgssdg');"></i>
                    <i class="fa-solid fa-comment postreaction"></i>
                    <i class="fa-solid fa-share postreaction"></i>
                </div>
            </div> -->
        </div>
        <div class="separator"></div>
        <div class="right-section">
            <!-- Tartalom a jobb oldalon -->
            @{
                Html.RenderPartial("RightPanel");
            }
        </div>
    </div>
</body>
</html>

